doctype html
head
    meta(charset='utf-8')
    link(rel='icon' type='image/png' sizes='512x512' href='/assets/img/radio.png')
    title Radio Manager

body(style="overflow-x: hidden;")
    div
        div#appStatic
            link(href=`${baseUrl}css/seq-styles.css` rel='stylesheet')
            style.
                @font-face {
                    font-family: 'Digital7';
                    src: url("!{baseUrl}css/Segment7.woff2") format('woff2')
                }

                .background-image:not(.overlay) {
                    background-image: url("!{baseUrl}/assets/img/seq-bg.jpg");
                }
            script(src=`${baseUrl}js/pre-scripts.js`)
        div#appPanels
            div#radioManagerChannels(class="collapse" data-parent="#menuAccordion")
                div.position-relative.pt-3.pr-3.pl-3.user-menu-height(style="width: 100%;")
                    .d-flex.w-100
                        a(class="btn btn-primary collapsed" data-toggle="collapse" data-target=`#menuItemMain`)
                            i.fas.fa-arrow-left.fa-fw
                        a(class="btn btn-primary" title="Show All Channels" href='#_' onclick='openTuner(); return false;').ml-2
                            i.fas.fa-ellipsis.fa-fw.mr-md-1
                            span.d-none.d-md-inline All Channels
                        h4.text-primary.ml-auto
                            i.fas.fa-hashtag.mr-2
                            | Tune
                    .row.w-100.position-absolute.pb-3(style='bottom: 0;').d-flex.justify-content-center
                        if (channels && channels.length > 0)
                            .menu-grid(style='overflow-x: scroll; overflow-y:hidden; white-space: nowrap;')
                                each channel in channels
                                    a.user-menu-item.user-menu-small(title=`Tune to ${channel.number}` href='#_' onClick=`sendAPIRequest("tune/${channel.number}");`)
                                        img(src=`data:image/png;base64,${channel.image}` style='height: 3em;')
                        else
                            h2 No Channels Available!
        div#appStaticPost
            #channelTune.modal.fade(tabindex='-1' role='dialog' aria-labelledby='channelTuneTitle' aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        #channelList.modal-body.bg-black
                            | ...
                        .modal-footer.bg-black.border-0
                            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
            #zoneManager.modal.fade(tabindex='-1' role='dialog' aria-labelledby='zoneManagerTitle' aria-hidden='true')
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        #zoneContent.modal-body.bg-black
                            | ...
                        .modal-footer.bg-black.border-0
                            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
            #renameFile.modal(tabindex='-1' role='dialog')
                .modal-dialog.modal-dialog-centered(role='document')
                    .modal-content
                        .modal-header
                            h5.modal-title Update Filename
                            button.close(type='button' data-dismiss='modal' aria-label='Close')
                                span(aria-hidden='true') &times;
                        .modal-body
                            input#renameFileChannel.form-control.d-none(type='text' placeholder='' readonly)
                            input#renameFileGuid.form-control.d-none(type='text' placeholder='' readonly)
                            input#renameFileInput.form-control(type='text' placeholder='..')
                        .modal-footer
                            button.btn.btn-success(type='button' onClick="renameFile();") Update
                            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
            script(src=`${baseUrl}js/scripts.js`)
        div#appTitleBar
            i.far.mr-2.fa-satellite
            span.text-uppercase Dashboard

        div#appNavigation
            a#refreshPage.bottomBtn.btn.btn-lg.btn-circle.red(title="Refresh Page" href='#_' onClick="getTunersStatus(); return false;")
                i.fa.fa-sync

        div#appMenuRow2Grid
            //a.user-menu-item(title="Open Tuner Menu" href='#_' onClick=`openTuner();`)
                i.fa-light.fa-hashtag.fa-fw
                | Tune
            a.user-menu-item(title="Show Tuners and whats live" href=`#${baseUrl}`)
                i.fa-light.fa-satellite.fa-fw
                | Dashboard
            a.user-menu-item(title="Open Tuner Menu" href='#_' class="collapsed" data-toggle="collapse" data-target="#radioManagerChannels")
                i.fa-light.fa-hashtag.fa-fw
                | Tune
            a.user-menu-item(title="Manage Audio Outputs" href='#_' onClick=`openZones();`)
                i.fa-light.fa-volume-up.fa-fw
                | Zones
            a.user-menu-item(title="Show Playlist" href=`#${baseUrl}eventList`)
                i.fa-light.fa-list-music.fa-fw
                | Playlist
            if (recording_url)
                a.user-menu-item(title="Show Recordings" href=`${recording_url}`)
                    i.fa-light.fa-cassette-tape.fa-fw
                    | Recordings
            a.user-menu-item(title="Show Schedule and Searchs" href=`#${baseUrl}schedule`)
                i.fa-light.fa-calendar-clock.fa-fw
                | Schedule

        div#appContent
            div
                div#deviceStatus.pt-3
                    .row.p-3
                        .col-xl-3.col-md-6
                            script.
                                startStatusUpdater();
                                getTunersStatus();
                            | Loading Dashboard ...
